/* Hero.css */

.hero-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 8px;
    margin-right: 16px;
    margin-left: 16px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-right: 4px;
    padding-left: 4px;
  }
  
  .hero-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .hero-title-primary {
    color: #ffaa07;
  }
  
  .hero-description {
    color: #666;
    text-align: center;
  }
  
  .hero-button {
    margin-top: 4px;
    max-width: max-content;
  }
  
  .hero-image {
    flex-basis: 50%;
    background-image: url('D:\Programming\Recipen\Recipen\client\src\components\hero\bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }
  